.responsiv-menu{
    background-color: white;
}



@media  (min-width:60px){
    .responsiv-menu{
        position: fixed;
        right: -12rem;
        top: 0;
        z-index: 999;
        height: 3rem;
    }
}

@media  (min-width:120px){
    .responsiv-menu{
        position: fixed;
        right: -19rem;
        top: 0;
        z-index: 999;
        height: 3rem;
    }
}
@media  (min-width:200px){
    .responsiv-menu{
        position: fixed;
        right: -14rem;
        top: 0;
        z-index: 999;
        height: 3rem;
    }
}
@media  (min-width:300px){
    .responsiv-menu{
        position: fixed;
        right: -8rem;
        top: 0;
        z-index: 999;
        height: 3rem;
    }
}
@media  (min-width:360px){
    .responsiv-menu{
        position: fixed;
        right: -6rem;
        top: 0;
        z-index: 999;
        height: 3rem;
    }
}
@media  (min-width:400px){
    .responsiv-menu{
        position: fixed;
        right: -6rem;
        top: 0;
        z-index: 999;
        height: 3rem;
    }
    }

@media  (min-width:450px){
    .responsiv-menu{
        position: fixed;
        right: -6rem;
        top: 0;
        z-index: 999;
        height: 3rem;
    }
}
@media  (min-width:510px){
    .responsiv-menu{
        position: fixed;
        right: -6rem;
        top: 0;
        z-index: 999;
        height: 3rem;
    }
}
@media  (min-width:556px){
    .responsiv-menu{
        position: fixed;
        right: -6rem;
        top: 0;
        z-index: 999;
        height: 3rem;
    }
}
@media  (min-width:700px){
    .responsiv-menu{
        position: fixed;
        right: -1rem;
        top: 0;
        z-index: 999;
        height: 3rem;
    }
}
.responsiv-menu-2{
    background-color: white;
}



@media  (min-width:60px){
    .responsiv-menu-2{
        position: fixed;
        right: -12rem;
        top: 0;
        z-index: 999;
        height: 3rem;
    }
}

@media  (min-width:120px){
    .responsiv-menu-2{
        position: fixed;
        right: -12rem;
        top: 0;
        z-index: 999;
        height: 3rem;
    }
}
@media  (min-width:200px){
    .responsiv-menu-2{
        position: fixed;
        right: -7rem;
        top: 0;
        z-index: 999;
        height: 3rem;
    }
}
@media  (min-width:300px){
    .responsiv-menu-2{
        position: fixed;
        right: -1rem;
        top: 0;
        z-index: 999;
        height: 3rem;
    }
}
@media  (min-width:360px){
    .responsiv-menu-2{
        position: fixed;
        right: 0rem;
        top: 0;
        z-index: 999;
        height: 3rem;
    }
}
@media  (min-width:400px){
    .responsiv-menu-2{
        position: fixed;
        right: 0rem;
        top: 0;
        z-index: 999;
        height: 3rem;
    }
    }

@media  (min-width:450px){
    .responsiv-menu-2{
        position: fixed;
        right: 0rem;
        top: 0;
        z-index: 999;
        height: 3rem;
    }
}
@media  (min-width:510px){
    .responsiv-menu-2{
        position: fixed;
        right: 0rem;
        top: 0;
        z-index: 999;
        height: 3rem;
    }
}
@media  (min-width:556px){
    .responsiv-menu-2{
        position: fixed;
        right: 0rem;
        top: 0;
        z-index: 999;
        height: 3rem;
    }
}
@media  (min-width:700px){
    .responsiv-menu-2{
        position: fixed;
        right: 0rem;
        top: 0;
        z-index: 999;
        height: 3rem;
    }
}